@model WebRTC.Models.ServerResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Info</title>
    @*<link href="css/app.css" rel="stylesheet" type="text/css">*@
    <link href="~/Content/app.css" rel="stylesheet" />
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script>
        var apiKey = "@Model.ApiKey";
        var sessionId = "@Model.SessionId";
        var token = "@Model.Token";

        function handleError(error) {
            if (error) {
                alert(error.message);
            }
        }

        var session = OT.initSession(apiKey, sessionId);

        session.on('streamCreated', function(event) {
          session.subscribe(event.stream, 'subscriber', {
            insertMode: 'append',
            width: '100%',
            height: '100%'
          }, handleError);
        });

        var publisher = OT.initPublisher('publisher', {
            insertMode: 'append',
            width: '100%',
            height: '98%'
        }, handleError);

        session.connect(token, function(error) {
            if (error) {
                handleError(error);
            } else {
                session.publish(publisher, handleError);
            }
        });
    </script>
</head>
<body>
</body>
</html>