<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro.</h1>
        <h2>Um erro aconteceu ao processar a requisição, se o problema persistir contate o suporte da ferramenta.</h2>
    </hgroup>
</body>
</html>
